.camera-weather-container {
  padding: 16px;
}

.search-container {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.search-container input {
  padding: 8px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  background-color: #2563EB;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.timeline-container {
  position: relative;
}

.timeline-line {
  position: absolute;
  left: -20px;
  top: 20px;
  bottom: 20px;
  width: 4px;
  background-color: #D1D5DB;
  color: #f4420b;
}

.stations {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.station-item {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.station-item-start-end{
  margin: 32px 0;
}

.timeline-ball {
  position: absolute;
  left: -30px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.timeline-ball-start-end{
  background-color: black;
}

.timeline-distance{
  position: absolute;
  left: -95px;
  top: 20px;
  border-radius: 50%;
  color: #000;
  width: 60px;
  text-align: right;
}

.station-content {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  background-color: #fff;
  flex: 1;
}

.station-content h3 {
  font-weight: 600;
}

.station-details{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.weather-details {
  transition: max-height 0.3s ease;
  overflow: hidden;
  border: 2px solid #dadada;
  border-radius: 10px;
  padding: 20px 3%;
  min-height: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 2;
}

.weather-details h4{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #acacac;
  width: fit-content;
  margin-bottom: 10px;
}

.weather-details p{
  font-size: 14px;
}

.warning{
  margin-left: 20px;
}

.weather-camera{
  width: 70%;
}

.weather-camera img{
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
}

/* Changes for responsiveness start here */
@media (width < 1350px){
  .weather-details{
    padding: 10px 1.2%;
    line-height: 1.9;
  }
}

@media (width < 1200px) {
  .timeline-distance{
    display: none;
  }

  .weather-camera{
    width: 100%;
  }

  .station-details{
    flex-direction: column-reverse;
  }
}

@media (width < 800px){
  .search-container{
    flex-direction: column;
  }
}