* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

.App {
  max-width: 60%;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #2c3e50;
}

/* Changes for responsiveness start here */

@media (width > 1800px){
  .App{
    max-width: 60%;
  }
}

@media (width < 1800px) {
    .App{
      max-width: 80%;
    }
}

@media (width < 1024px){
  .App{
    max-width: 95%;
  }
}